<div class="page-wrapper dashboard-wrapper">
  <div class="page-content">
    <main-nav class="page-header"></main-nav>
    <!-- Profile Section -->
      <div class="page-profile page-section">
        <div class="page-profile__card">
          <img class="page-profile__photo" ng-click="vm.editProfile()" ng-src="{{vm.current.photo}}" alt="user-profile"/>
          <button class="page-profile__editbtn" ng-click="vm.editProfile()">(EDIT)</button>
        </div>
        <div class="page-profile__card">
          <h5>PROFILE</h5>
          <p>
            My name is <span class="page-profile__fields">{{vm.current.user.name}}</span>
            I live in {{vm.current.user.city}}.
            My preferred email is <span class="page-profile__fields">{{vm.current.user.email}}</span>
            </p>
        </div>
        <div class="page-profile__card">
          <h5>WORK</h5>
          <p>I work at <span class="page-profile__fields">{{vm.current.work[0].name}}</span>
             in <span class="page-profile__fields">{{vm.current.work[0].city}}</span></p>
          </p>
        </div>
      </div>
      <div ng-show="vm.current.incomplete" ng-click="vm.fixError()" class="rideshare-status-section registration-incomplete">
        <p>registration incomplete: <br>
          {{vm.current.errorMsg}}</p>
      </div>
    <div ng-show="!vm.rideShare.driver" class="dashboard-section">
      <div ng-show="!vm.rideShare.driver" class="dashboard-section__title">
        <h3>DASHBOARD</h3>
        <p>
          CONGRATS, YOU'RE SAVING THE WORLD!
        </p>
      </div>
    </div>
    <div ng-show="!vm.rideShare.driver" class="rideshare-date-section">
        <p class="subtitle">You don't have any dates yet. We create them 18 hours before your scheduled rideshare.</p>
    </div>
    <div ng-show="vm.rideShare.driver" class="dashboard-section__title">
      <h3>UPCOMING RIDESHARE</h3>
    </div>
    <div ng-show="vm.rideShare.driver" class="rideshare-date-section">
      <h4>{{ vm.rideShare.driver.arrival | date: 'MMMM dd'}}</h4>
    </div>
    <div ng-show="vm.rideShare.driver" class="rideshare-status-section" ng-class="{unconfirmed: vm.rideShare.you.status !== 'confirmed'}">
      <p>
        <div ng-show="vm.rideShare.you" class="rideshare-status-switch">
          <label class="label-switch">
            <input ng-change="vm.rideShareResponse()" type="checkbox" ng-model="vm.rideShare.you.accepted"/>
            <div class="checkbox"></div>
          </label>
          <span ng-if="vm.rideShare.you.status === 'unconfirmed'">Are You Going? Confirm Here.</span>
          <span ng-if="vm.rideShare.you.status === 'confirmed'">You have confirmed.</span>
          <span ng-if="vm.rideShare.you.status === 'declined'">You have declined. Need to change?</span>
        </div>
      </p>
    </div>
    <div class="dashboard-section-container rideshare-container">
    <!-- Section for displaying Ride Shares -->
      <div ng-show="vm.rideShare.driver" class="carpool-details">
        <div class="dashboard-section__map-info">
          <div maps id="map" details="vm.current.rideShare" class="dashboard-section__map" style="width:250px; height:250px;"></div>
        </div>
        <div class="dashboard-section__ride-info">
          <div class="rideshare-duties">
            <h4>Riding with {{vm.rideShare.rideo.info.name}}</h4>
            <p ng-if="vm.rideShare.role === 'driver'">
              <span>You’re driving</span> and you need to pick up {{ vm.rideShare.rideo.info.name }} at {{ vm.rideShare.driver.arrival | date: 'HH:mma' }}.
            </p>
            <p ng-if="vm.rideShare.role === 'passenger'">
              <span>You’re {{ vm.rideShare.role }}</span> and {{ vm.rideShare.rideo.info.name }} is slated to pick you up at {{ vm.rideShare.driver.arrival | date: 'HH:mma' }}.
            </p><br>
            <!-- <p>
              <span>Suggested RideShare Amount:</span> {{ vm.rideShare.cost.half_cost | currency}}
            </p> -->
            <p>
              <span>DIRECTIONS</span><br>
              <button class="dashboard-section__map-links">
                <a href="https://www.google.com/maps/dir/{{vm.rideShare.driver.info.latitude}},{{vm.rideShare.driver.info.longitude}}">DRIVER HOME</a>
              </button>
              <button class="dashboard-section__map-links">
                <a href="https://www.google.com/maps/dir/{{vm.rideShare.passenger.info.latitude}},{{vm.rideShare.passenger.info.longitude}}">PASSENGER HOME</a>
              </button><br>
              <button class="dashboard-section__map-links">
                <a href="https://www.google.com/maps/dir/{{vm.rideShare.driver.work.latitude}},{{vm.rideShare.driver.work.longitude}}">DRIVER WORK</a>
              </button>
              <button class="dashboard-section__map-links">
                <a href="https://www.google.com/maps/dir/{{vm.rideShare.passenger.work.latitude}},{{vm.rideShare.passenger.work.longitude}}">PASSENGER WORK</a>
              </button>
              <button class="dashboard-section__map-links">
                <a href="https://www.google.com/maps/dir/{{vm.rideShare.driver.info.latitude}},{{vm.rideShare.driver.info.longitude}}/{{vm.rideShare.passenger.info.latitude}},{{vm.rideShare.passenger.info.longitude}}/{{vm.rideShare.driver.work.latitude}},{{vm.rideShare.driver.work.longitude}}/{{vm.rideShare.passenger.work.latitude}},{{vm.rideShare.passenger.work.longitude}}">COMBINED</a>
              </button>

            </p>


          </div>
          <div class="rideshare-profile__photo">
            <a href="http://www.facebook.com/{{ vm.rideShare.rideo.info.facebook_id }}">
              <img class="page-profile__photo" ng-src="{{vm.rideShare.rideo.photo}}" alt="" />
            </a>
            <p class="rideshare-profile__icons">
              <a href="http://www.facebook.com/{{ vm.rideShare.rideo.info.facebook_id }}">
                <i class="fa fa-facebook-square"></i>
              </a>
              <a href="mailto:{{vm.rideShare.rideo.info.email}}">
                <i class="fa fa-envelope-square"></i>
              </a>
            <a ng-if="vm.cohort.info.phone_number" href="mailto:{{vm.rideShare.rideo.info.email}}">
              <i class="fa fa-phone-square"></i>
            </a>
            <p><span>status:</span><br>
              {{vm.rideShare.rideo.status}}</p>
            </p>
          </div>
          <div class="rideshare-status">
            <p><span>rideshare status:</span> {{vm.rideShare.status}}</p>
          </div>
        </div>
      </div>
      <div id="dates" class="dashboard-dates">
        <h4>UPCOMING DATES </h4>
        <p class="subtitle">Check your current dates, delete, and make new rideshare dates below.</p>
        <ul>
          <li ng-hide="date.arrival_datetime.slice(0, 10) === vm.rideShare.driver.arrival.slice(0, 10)" class="dashboard-dates__date" ng-repeat="date in vm.current.schedule">
            <p>
              {{ date.departure_datetime | date:"MMM, dd" }} <br>
              PICKUP: {{ date.arrival_datetime | date: 'h:mma' }} <br>
              RETURN: {{ date.departure_datetime | date: 'h:mma' }}
              <button class="dashboard-form__button dashboard-dates__button" ng-click="vm.deleteDate(date)"><i class="fa fa-trash"></i></button>
            </p>
          </li>
        </ul>
      <div class="dashboard-dates__date dashboard-dates__new">
        <h5>NEW DATE</h5>
        <label class="dashboard-input__label" for="schedule-date">date
          <input class="register-input dashboard-input" name="schedule-date" ng-model="vm.schedule.date" details="vm.schedule.utc_date" picker picker-type="'date'">
        </label>

        <label class="dashboard-input__label" for="schedule-arrive">from
          <input picker class="register-input dashboard-input" type="text" name="schedule-arrive" ng-model="vm.schedule.arriving" details="vm.schedule.arrival_datetime" picker-type="'time'">
        </label>

        <label class="dashboard-input__label" for="schedule-depart">to
          <input picker class="register-input dashboard-input" type="text" name="schedule-depart" ng-model="vm.schedule.departing" details="vm.schedule.departure_datetime" picker-type="'time'">
        </label>
        <div id="root-picker-outlet"></div>


        <button class="dashboard-form__button dashboard-dates__button" ng-click="vm.addDate()"><i class="fa fa-plus"></i></button>
      </div>
      </div>

    </div>

    <div class="dashboard-section-container">
        <div class="dashboard-section dashboard-chart">
          <!-- <mileage-chart></mileage-chart> -->
          <gauge-chart class="chart" data="vm.cost"></gauge-chart>
        </div>
        <div class="dashboard-section dashboard-stats">
          <h5>Did you know?</h5>
          <p><i class="fa fa-quote-left"></i> {{vm.stat}}</p>
        </div>
    </div>
    <div class="dashboard-section-container">
      <div id="profile" class="page-section dashboard-section">
        <div class="dashboard-form__title">
          <h4>PROFILE</h4>
        </div>
        <form class="dashboard-form" ng-submit="vm.register()">
          <p>Hi my name is <input class="register-input dashboard-input" type="text" ng-model="vm.current.user.name" placeholder="Enter your name" required>.<p>
          <p>
            The best email to reach me at is
            <input class="register-input dashboard-input" type="email" name="user-email" ng-model="vm.current.user.email" placeholder="Enter your email" required>.
          </p>
          <p>
            The best place to pick me up at is
            <input googleplace name="user-address" details="vm.current.user" class="register-input dashboard-input address-input" type="text" autocomplete="off" ng-model="vm.current.user.address" required>.
          </p>
          <p>
            The best phone number to contact me is
            <input class="register-input dashboard-input" type="text" name="user-paypal" ng-model="vm.current.user.phone_number" placeholder="your phone number">.
          </p>
          <p>
            My Driver's license number is <input class="register-input dashboard-input" ng-model="vm.current.user.drivers_license">
          </p>
          <p>

          </p>
          <p>
            <h5 for="work-name">Your Work</h5>
            <p>
              I work for <input class="register-input dashboard-input" type="text" name="workName" ng-model="vm.current.work[0].name" placeholder="Business Name">.
              Their address is
              <input googleplace name="work-address" details="vm.current.work[0]" class="register-input dashboard-input address-input" type="text" ng-model="vm.current.work[0].address" autcomplete="false">.
            </p>

            <!-- <button ng-click="vm.deleteWork(vm.current.work[0], 0)" name="button"></button> -->
          </p>
          <p>
          </p>
          <h5>My Ride</h5>
          <p ng-repeat="car in vm.current.vehicles">I drive a <input class="register-input dashboard-input" ng-model="car.year" type="text" name="name" value="" placeholder="YYYY">
            <input class="register-input dashboard-input" ng-model="car.make" type="text" name="name" placeholder="Make">
            <input class="register-input dashboard-input" ng-model="car.model" type="text" name="name" placeholder="Model">. <br>
            My license plate number is
            <input class="register-input dashboard-input" ng-model="car.plate_number" type="text" name="name" placeholder="XXX-XXXX">
          </p>
          <button class="dashboard-form__button" ng-click="vm.edit()">SUBMIT CHANGES</button>
          <p ng-show="vm.submitted" class="subtitle">
            CHANGES SUBMITTED
          </p>
        </div>
      </form>
    </div>
  </div>
  <footer-nav></footer-nav>
  <div ng-class="{welcomeLoaderShowing: vm.loading}" class="welcome-loader">
    <img class="page-nav-logo" src="static/img/rideo.svg" alt="RIDEO ridshare service" />
    <h4>LOADING</h4>
    <div class="loader">Loading...</div>
  </div>
</div>
