<div class="page-wrapper dashboard-wrapper">
  <div class="page-content">

    <main-nav class="page-header"></main-nav>
    <!-- Profile Section -->
    <div class="page-profile page-section" ng-class="{ incomplete: vm.current.incomplete }">
      <div class="page-profile__card">
        <img class="page-profile__photo" ng-src="{{vm.current.photo}}" alt="user-profile"/>
      </div>
      <div class="page-profile__card">
        <h5>PROFILE</h5>
        <p>
          My name is <span class="page-profile__fields">{{vm.current.user.name}}</span>
          I live in {{vm.current.user.city}}.
          My preferred email is <span class="page-profile__fields">{{vm.current.user.email}}</span>
          </p>
      </div>
      <div class="page-profile__card">
        <h5>WORK</h5>
        <p>I work at <span class="page-profile__fields">{{vm.current.work[0].name}}</span>
           in <span class="page-profile__fields">{{vm.current.work[0].city}}</span></p>
        </p>
        <button ng-click="vm.editProfile()">EDIT</button>
      </div>
    </div>

    <!-- Section for displaying Ride Shares -->
    <div ng-show="vm.current.rideShares.driver" class="dashboard-section-container carpool-details">
      <h3 class="dashboard-section-title">Upcoming {{ vm.current.rideShares.driver.arrival | date: 'MMMM dd'}}</h3>
      <div class="dashboard-section__map-info">
        <div maps id="map" details="vm.current.rideShare" class="dashboard-section__map" style="width:300px; height:300px;"></div>
      </div>
      <div class="dashboard-section__ride-info">
        <h4>Riding with {{vm.current.rideo.info.name}}</h4>
        <p>
          You’re {{ vm.current.role }} and you need to pick up {{ vm.current.rideo.info.name }} at {{ vm.current.rideShares.driver.arrival | date: 'HH:mma' }}.
        </p>
        <h5>contact info:</h5>
        <p ng-if="vm.cohort.info.phone_number">phone: {{ vm.current.rideo.info.phone_number }}</p>
        <p>email: {{ vm.current.rideo.info.email }}</p>
        <div class="">
          <button class="clear-button confirm-button" ng-click="vm.rideShareRes(true)"><i class="fa fa-check"></i> confirm</button>
          <button class="clear-button decline-button" ng-click="vm.rideShareRes(false)"><i class="fa fa-times"></i> decline</button>
          <p>status: {{vm.current.rideShares.status}}</p>
        </div>
      </div>
      <div class="dashboard-section">
        <mileage-chart></mileage-chart>
      </div>
    </div>
    <!-- Dashboard Section -->
    <div class="dashboard-section-container" ng-if="!vm.current.name">
      <div class="dashboard-steps">
        <div class="dashboard-steps__content">
          <h5>YOUR NEXT RIDESHARE</h5>
            <p>{{ vm.current.rideShares.driver.arrival.slice(0,8) }}</p>
            <p>{{ vm.current.rideShares.driver.info.name }}</p>
            <p>&amp;</p>
            <p>{{ vm.current.rideShares.passenger.info.name }}</p>
            <p>departing {{ vm.current.rideShares.driver.arrival | date: 'HH:hh a'}}</p>
        </div>
      </div>
      <div class="dashboard-steps">
        <div class="dashboard-steps__content">
          <h5>SCHEDULED DATES</h5>
          <ul class="dashboard__list">
            <li class="dashbaord__list-item" ng-repeat="date in vm.current.schedule">
              <p class="dashboard__dates">
                {{ date.depart | date:"MMM, dd" }} <br>
                LEAVE: {{ date.arrival_datetime | date: 'h:mma' }} <br>
                RETURN: {{ date.departure_datetime | date: 'h:mma' }}
                <!-- <button class="clear-button" ng-click="vm.deleteDate(date)">X</button> -->
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
