$dashShadow: 0px 2px 5px #444;



.dashboard-fbLogin {
  width: 100%;
  height: 4em;
}

.dashboard-wrapper {
  color: #fff;
  background-color: $accent-color;
  background: linear-gradient(rgba(131, 169, 174, .7), rgba(98, 127, 131, .7)), url('../img/symphony.png');
  text-align: center;

  .page-content {
    margin-bottom: 2em;
  }
}

.dashboard-section-container {
  background-color: $primary-color;
  @include span-columns(12);
  span {
    font-weight: 700;
    color: #ccc;
  }
}
@media only screen and (min-width: 768px) {
  .dashboard-section-container {
    padding: 2em;
    padding-top: 4em;
  }
}

.rideshare-container {
  padding-top: 0;
  @media only screen and (min-width: 768px) {
    padding-top: 2em;
  }
}

.dashboard-section {
  position: relative;
  @include span-columns(12);
}
.dashboard-section__title {
  background-color: darken($primary-color, 10%);
  @include span-columns(12);
  font-size: 1em;
  padding: 2em;
  @media only screen and (max-width: 768px) {
    padding: .5em;
    font-size: .75em;
  }
}

.dashboard-section__map-info {
  text-align: center;
  display: inline-block;
  margin-right: 2.35765%;
  padding: 2em;
  @media only screen and (min-width: 768px) {
    float: left;
    padding: 0;
  }
}
.dashboard-section__ride-info {
  text-align: left;
  display: inline-block;
  min-height: 250px;
  padding: 1em 2em;
  background-color: darken($primary-color, 5%);
  overflow:auto;
  margin-top: 0 auto;
  h4 {
    margin-bottom: 1em;
  }
  @include span-columns(12);
  @media only screen and (min-width: 768px) {
    @include span-columns(6);
    margin-top: 0;
  }
  @media only screen and (min-width: 915px) {
    @include span-columns(8);
    margin-top: 0;
  }
}

.dashboard-section__response {
  @include span-columns(12);
  // text-align: left;
}

// DASHBOARD STATS

.dashboard-chart {
  @include span-columns(12);
  padding: 1em;
  @media only screen and (min-width: 768px) {
    @include span-columns(8);
    padding: 0;
  }
}

.dashboard-chart__text {
  text-align: left;
  span {
    font-weight: bold;
  }
}

.chart.c3 {
  min-height: 18em;
}

.dashboard-stats {
  @include span-columns(12);
  text-align: left;
  padding: 1em;
  @media only screen and (min-width: 768px) {
    @include span-columns(4);
  }
}



.dashboard-steps {
  margin-top: 2.35765%;
  position: relative;
  display: inline-block;
  @include span-columns(12);
  @media only screen and (min-width: 500px) {
    @include span-columns(6);
  }
  @media only screen and (min-width: 768px) {
    @include span-columns(4);
  }
  p {
    text-align: center;
  }
}

// DASHBOARD FORM
.dashboard-form {
  text-align: left;
  background-color: darken($primary-color, 5%);
  padding: 2em;
}

.dashboard-form__button {
  background-color: transparent;
  border: none;
  font-size: 1em;
  background-color: darken($primary-color, 30%);
  &:hover {
    background-color: darken($primary-color, 20%);
  }
}

.dashboard-form__title {
  background-color: darken($primary-color, 30%);
  padding: .5em;
}

.dashboard-dates {
  margin-top: 4em;
  padding: 1em;
  @include span-columns(12);
  @media only screen and (min-width: 768px ) {
    padding: 0;
  }
}

.dashboard-dates__date {
  box-sizing: border-box;
  display: inline-block;
  font-size: .75em;
  padding: 1em;
  background-color: darken($primary-color, 5%);
  padding-right: 4em;
  position: relative;
  margin-top: .5em;
  @include span-columns(6);
  @media only screen and (min-width: 560px) {
    @include span-columns(4);
  }
  @media only screen and (min-width: 915px) {
    @include span-columns(2.4);
  }
  h5 {
    margin-top: 0;
  }
}

.dashboard-input__label {
  display: inline-block;
  color: #fff;
  font-size: 1em;

}

.dashboard-dates__new {
  margin-left: 0;
  margin-top: .5em;
  @include span-columns(12);
}

.dashboard-dates__button {
  position: absolute;
  width: 3em;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: darken($primary-color, 30%);
  &:hover {
    background-color: darken($primary-color, 20%);
  }
}

.dashboard-input {
  color: #fff;
}


// PROFILE SECTION

.page-profile {
  margin-bottom: 0;
  background-color: #fff;
  padding: 2em;
  color: darken($primary-color, 10%);
  text-align: left;
  position: relative;
}


.page-profile__photo {
  width: 100%;
  max-width: 9em;
  border-radius: 50%;
  margin-left: 1em;
  display: inline-block;
}

.page-profile__editbtn {
  background-color: transparent;
  color: darken($primary-color, 10%);
  &:hover {
    color: lighten($primary-color, 20%);
  }
  &:active {
    background-color: transparent;
  }
}
.page-profile__fields {
  font-weight: 700;
}

.page-profile__card {

  @include span-columns(12);
  @media only screen and (min-width: 768px) {
    @include span-columns(4);
  }
  display: inline-block;
  vertical-align: baseline;
  p {
    margin-bottom: .5em;
  }
  button {
    vertical-align: bottom;
  }
}


.dashboard-section__status {
    &:hover button {
      display: inline-block;
    }
}

.confirm-button, .decline-button {
  border-radius: 2em;
  border: none;
}

// RIDE SHARE SECTION

.rideshare-status-section {
  @include span-columns(12);
  text-align: left;
  background-color: darken($primary-color, 2%);
  padding: .5em 2em;
  p {
    display: inline;
  }
}
.rideshare-status {
  margin-top: 2em;
  padding: .5em 1em;
  background-color: darken($primary-color, 10%);
  @include span-columns(12);

}

.rideshare-profile__photo {
  text-align: center;
  .page-profile__photo {
    margin-left: 0;
  }
  @include span-columns(4);
  float: right;
}

.rideshare-duties {
  @include span-columns(7.5);
}

.rideshare-profile__icons {
  margin-top: .5em;
}


.rideshare-date-section {
  @include span-columns(12);
  background-color: darken($primary-color, 5%);
  padding: .5em 2em;
  text-transform: uppercase;
}

.rideshare-status-switch {
  display: inline-block;
}

.label-switch {
  margin-right: 1em;
  float: left;
}

// C3 Tweeks
.c3-chart-arc .c3-gauge-value {
  fill: #fff;
}

// FONT AWESOME Tweeks

.fa-quote-left {
  color: #aaa;
}

.fa-facebook-square,
.fa-envelope-square {
  color: #fff;
  margin-right: 1em;
  font-size: 1.5em;
}


.edmunds-wrapper {
  @include span-columns(4);
  min-height: 150px;
  text-align: center;
}

.edmunds-logo {
  width: 6em;
  margin: 1em;
  @media only screen and (min-width: 500px) {
    width: 7em;
  }
}

//CONDITIONAL STYLES

.incomplete {
  background-color: lighten($secondary-color, 50%);
}

.unconfirmed {
  background-color: $secondary-color;
}

.disabled {
  background-color: $primary-color;
}
.subtitle {
  color: #ccc;
  font-size: .75em;
}

.registration-incomplete {
  background-color: $secondary-color;
  font-weight: bold;
  bottom: .5em;
  right: 2em;
}
