<div class="register-form">
  <form class="signup-form" ng-submit="vm.register()">


    <div class="register-section page-section">
      <h5>Tell Us About You</h5>
      <p>Hi my name is <input class="register-input" type="text" ng-model="vm.current.user.name" placeholder="Enter your name" required>.
        The best email to reach me at is
        <input class="register-input" type="email" name="user-email" ng-model="vm.current.user.email" placeholder="Enter your email" required>
        The best place to pick me up at is
        <input googleplace name="user-address" details="vm.current.user" class="register-input" type="text" autocomplete="off" ng-model="vm.current.user.address" required>
        I want to use this paypal address to handle gas money
        <input class="register-input" type="email" name="user-paypal" ng-model="vm.current.user.paypal_id" placeholder="paypal email" required>
      </p>
      <button ng-click="vm.editUser()">edit user</button>
      <div class="">
        <h5 for="work-name">Your Work</h5>
        <p>I work for <input class="register-input" type="text" name="workName" ng-model="vm.newWork.name" placeholder="Business Name" required>.
          Their address is
          <input googleplace name="work-address" details="vm.newWork" class="register-input" type="text" ng-model="vm.newWork.address" autcomplete="false">.
        </p>
        <button ng-click="vm.addWork()">add workplace</button>
      </div>

    </div>


    <div class="register-section page-section">
      <p>I normally work
        <select ng-model="vm.schedule.from">
          <option ng-repeat="day in vm.weekdays" value="{{day}}">{{day}}</option>
        </select> to
        <select ng-model="vm.schedule.to">
          <option ng-repeat="day in vm.weekdays">{{day}}</option>
        <select>
        from <input name="schedule-departing" ng-model="vm.schedule.departing" picker picker-type="'time'">
        to <input name="schedule-returning" ng-model="vm.schedule.arriving" picker picker-type="'time'">
      </p>
      <button ng-click="vm.addSchedule()">add schedule</button>
    </div>

    <div class="register-section page-section">
      <h5>My Ride</h5>
      <p>I drive a <input ng-model="vm.vehicle.year" type="text" name="name" value="" placeholder="YYYY">
        <input ng-model="vm.vehicle.make" type="text" name="name" placeholder="Make">
        <input ng-model="vm.vehicle.model" type="text" name="name" placeholder="Model">. My license plate number is
        <input ng-model="vm.vehicle.plate_number" type="text" name="name" placeholder="XXX-XXXX">
      </p>
        <button ng-click="vm.addVehicle()">add car</button>
    </div>

    <button>Sign Up!</button>
  </form>
</div>
