<div class="page-wrapper dashboard-wrapper">
  <div class="page-content">

    <main-nav class="page-header"></main-nav>
    <div class="page-profile page-section" ng-class="{ incomplete: vm.current.incomplete }">
      <div class="page-profile__card">
        <img class="page-profile__photo" ng-src="{{vm.current.photo}}" alt="user-profile"/>
      </div>
      <div class="page-profile__card">
        <h5>PROFILE</h5>
        <p>
          My name is <span class="page-profile__fields">{{vm.current.user.name}}</span>
          I live in {{vm.current.user.city}}.
          My preferred email is <span class="page-profile__fields">{{vm.current.user.email}}</span>
          </p>
        <button ng-click="vm.editProfile()">EDIT</button>
      </div>
      <div class="page-profile__card">
        <h5>WORK</h5>
        <p>I work at <span class="page-profile__fields">{{vm.current.work[0].name}}</span>
           in <span class="page-profile__fields">{{vm.current.work[0].city}}</span></p>
        </p>
        <button>EDIT</button>
      </div>
    </div>
    <div class="dashboard-section-container" ng-if="!vm.current.name">
      <div class="dashboard-steps">
        <div class="dashboard-steps__content">
          <h5>YOUR NEXT RIDESHARE</h5>
            <p>{{ vm.current.rideShares.driver.arrival.slice(0,8) }}</p>
            <p>{{ vm.current.rideShares.driver.info.name }}</p>
            <p>&amp;</p>
            <p>{{ vm.current.rideShares.passenger.info.name }}</p>
            <p>departing {{ vm.current.rideShares.driver.arrival | date: 'HH:hh a'}}</p>
        </div>
      </div>
      <div class="dashboard-steps">
        <div class="dashboard-steps__content">
          <h5>SCHEDULED DATES</h5>
          <ul class="dashboard__list">
            <li class="dashbaord__list-item" ng-repeat="date in vm.current.schedule">
              <p class="dashboard__dates">
                leave: {{ date.depart | date:"MMM, dd'th at' HH:hh a" }} <br>
                return: {{ date.return | date:"MMM, dd'th at' HH:hh a" }}
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="dashboard-steps">
          <div class="dashboard-steps__content">
            <mileage-chart></mileage-chart>
          </div>
      </div>
    </div>
    <div ng-show="vm.current.rideShares.driver" class="dashboard-section-container carpool-details">
      <div class="">
        <h5>Rideshare for {{ vm.current.rideShares.driver.arrival | date: 'MMMM, dd' }}</h5>
          <p>{{ vm.current.rideShares.driver.info.name }}</p>
          <p>{{ vm.current.rideShares.passenger.info.name }}</p>
      </div>
      <mileage-chart></mileage-chart>

    </div>



  </div>
</div>
