.hero {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $base-accent-color: #477DCA !default;
  $large-screen: em(860) !default;
  //////////////////////////////////////////////////////////////////////////////////

  $hero-background-top: #7F99BE;
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;

  max-width: $container-width;
  margin: 0 auto;
  background-position: top;

  .hero-logo {
    max-width: 500px;
    margin-bottom: 1em;
    animation: zoomIn .5s forwards;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 3.5em;
    text-align: center;

    .hero-copy {
      text-align: center;

      h1 {
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      .p {
        font-weight: 200;
        line-height: 1.4em;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}
.hero-text {
  margin-top: 1em;
  color: #fff;
  max-width: 333px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  font-size: 1.2em;
  color: $primary-color;
  background-color: #fff;
  width: 16em;
  &:hover {
    background-color: rgba(255, 255, 255, .3);
    color: #fff;
  }
}
