.register-input {
  margin: .2em 0;
  border: none;
  border-bottom: 1px dashed #aaa;
  background-color: transparent;
  color: #fff;
}

.schedule-week {
  display: block;
  @include span-columns(12);
}

select {
  padding: 1em;

}
