* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

.page-logo {
  margin-bottom: .5em;
}

page-nav {
  text-align: center;
}
nav li {
  display: inline-block;
  min-width: 20%;
  margin: 0 auto;
  margin: 0 .5em;
}

.root-content {
  @include outer-container(100%);
}

.page-section {
  margin: 1em;
}
