* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

.page-logo {
  margin-bottom: .5em;
}

nav {
  text-align: center;
  margin-bottom: 2em;
}
nav li {
  display: inline-block;
  min-width: 20%;
  margin: 0 auto;
  margin: 0 1em;
}
