$cardShadow: .15em .15em .5em darken($primary-color, 20%);
button {
  padding: .5em 1em;
  border: none;
  color: #fff;
  font-weight: bold;
  &:active {
    background-color: darken($primary-color, 10%);
  }
  &:focus {
    outline: none;
  }
}

input {
  padding: .5em 1em;
  border: 1px solid #ddd;
  box-sizing: border-box;
  vertical-align: middle;
}
