h1, h2, h3, h4, h5, p, span, a, input, label {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3.21em;
}

h3 {
  font-size: 2.6em;
}

h4 {
  font-size: 1.7em;
}

h5 {
  margin-top: 1em;
  font-size: 1.43em;
}

p {
  font-size: 1em;
}

label {
  font-size: .75em;
  color: #aaa;
}

.register-form {
  h5 {
    font-family: lobster, cursive;
    font-size: 2em;
    color: darken($primary-color, 20%);
    padding: .75em;
    display: block;
    background-color: #eee;
  }
  p {
    color: $primary-color;
    font-family: lobster, cursive;
    font-size: 1.2em;
    line-height: 1.6em;
    margin-bottom: .5em;
  }
}

.picker__list-item {
  font-family: 'Open Sans', sans-serif
}
