@charset "UTF-8";
/* Reset */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*  Vendor CSS  */
/*-- Chart --*/
.c3 svg {
  font: 10px sans-serif; }

.c3 path, .c3 line {
  fill: none;
  stroke: #000; }

.c3 text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.c3-legend-item-tile, .c3-xgrid-focus, .c3-ygrid, .c3-event-rect, .c3-bars path {
  shape-rendering: crispEdges; }

.c3-chart-arc path {
  stroke: #fff; }

.c3-chart-arc text {
  fill: #fff;
  font-size: 13px; }

/*-- Axis --*/
/*-- Grid --*/
.c3-grid line {
  stroke: #aaa; }

.c3-grid text {
  fill: #aaa; }

.c3-xgrid, .c3-ygrid {
  stroke-dasharray: 3 3; }

/*-- Text on Chart --*/
.c3-text.c3-empty {
  fill: #808080;
  font-size: 2em; }

/*-- Line --*/
.c3-line {
  stroke-width: 1px; }

/*-- Point --*/
.c3-circle._expanded_ {
  stroke-width: 1px;
  stroke: white; }

.c3-selected-circle {
  fill: white;
  stroke-width: 2px; }

/*-- Bar --*/
.c3-bar {
  stroke-width: 0; }

.c3-bar._expanded_ {
  fill-opacity: 0.75; }

/*-- Focus --*/
.c3-target.c3-focused {
  opacity: 1; }

.c3-target.c3-focused path.c3-line, .c3-target.c3-focused path.c3-step {
  stroke-width: 2px; }

.c3-target.c3-defocused {
  opacity: 0.3 !important; }

/*-- Region --*/
.c3-region {
  fill: steelblue;
  fill-opacity: 0.1; }

/*-- Brush --*/
.c3-brush .extent {
  fill-opacity: 0.1; }

/*-- Select - Drag --*/
/*-- Legend --*/
.c3-legend-item {
  font-size: 12px; }

.c3-legend-item-hidden {
  opacity: 0.15; }

.c3-legend-background {
  opacity: 0.75;
  fill: white;
  stroke: lightgray;
  stroke-width: 1; }

/*-- Tooltip --*/
.c3-tooltip-container {
  z-index: 10; }

.c3-tooltip {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  empty-cells: show;
  box-shadow: 7px 7px 12px -9px #777777;
  opacity: 0.9; }

.c3-tooltip tr {
  border: 1px solid #CCC; }

.c3-tooltip th {
  background-color: #aaa;
  font-size: 14px;
  padding: 2px 5px;
  text-align: left;
  color: #FFF; }

.c3-tooltip td {
  font-size: 13px;
  padding: 3px 6px;
  background-color: #fff;
  border-left: 1px dotted #999; }

.c3-tooltip td > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px; }

.c3-tooltip td.value {
  text-align: right; }

/*-- Area --*/
.c3-area {
  stroke-width: 0;
  opacity: 0.2; }

/*-- Arc --*/
.c3-chart-arcs-title {
  dominant-baseline: middle;
  font-size: 1.3em; }

.c3-chart-arcs .c3-chart-arcs-background {
  fill: #e0e0e0;
  stroke: none; }

.c3-chart-arcs .c3-chart-arcs-gauge-unit {
  fill: #000;
  font-size: 16px; }

.c3-chart-arcs .c3-chart-arcs-gauge-max {
  fill: #777; }

.c3-chart-arcs .c3-chart-arcs-gauge-min {
  fill: #777; }

.c3-chart-arc .c3-gauge-value {
  fill: #000;
  /*  font-size: 28px !important;*/ }

/* ==========================================================================
   $BASE-PICKER
   ========================================================================== */
/**
 * Note: the root picker element should *NOT* be styled more than what’s here.
 */
.picker {
  font-size: 16px;
  text-align: left;
  line-height: 1.2;
  color: #000000;
  position: absolute;
  z-index: 10000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/**
 * The picker input element.
 */
.picker__input {
  cursor: default; }

/**
 * When the picker is opened, the input element is “activated”.
 */
.picker__input.picker__input--active {
  border-color: #0089ec; }

/**
 * The holder is the only “scrollable” top-level container element.
 */
.picker__holder {
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

/*!
 * Default mobile-first, responsive styling for pickadate.js
 * Demo: http://amsul.github.io/pickadate.js
 */
/**
 * Note: the root picker element should *NOT* be styled more than what’s here.
 */
/**
 * Make the holder and frame fullscreen.
 */
.picker__holder, .picker__frame {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%); }

/**
 * The holder should overlay the entire screen.
 */
.picker__holder {
  position: fixed;
  transition: background 0.15s ease-out, -webkit-transform 0s 0.15s;
  transition: background 0.15s ease-out, transform 0s 0.15s;
  -webkit-backface-visibility: hidden; }

/**
 * The frame that bounds the box contents of the picker.
 */
.picker__frame {
  position: absolute;
  margin: 0 auto;
  min-width: 256px;
  max-width: 666px;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  transition: all 0.15s ease-out; }

@media (min-height: 33.875em) {
  .picker__frame {
    overflow: visible;
    top: auto;
    bottom: -100%;
    max-height: 80%; } }

@media (min-height: 40.125em) {
  .picker__frame {
    margin-bottom: 7.5%; } }

/**
 * The wrapper sets the stage to vertically align the box contents.
 */
.picker__wrap {
  display: table;
  width: 100%;
  height: 100%; }

@media (min-height: 33.875em) {
  .picker__wrap {
    display: block; } }

/**
 * The box contains all the picker contents.
 */
.picker__box {
  background: #ffffff;
  display: table-cell;
  vertical-align: middle; }

@media (min-height: 26.5em) {
  .picker__box {
    font-size: 1.25em; } }

@media (min-height: 33.875em) {
  .picker__box {
    display: block;
    font-size: 1.33em;
    border: 1px solid #777777;
    border-top-color: #898989;
    border-bottom-width: 0;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24); } }

@media (min-height: 40.125em) {
  .picker__box {
    font-size: 1.5em;
    border-bottom-width: 1px;
    border-radius: 5px; } }

/**
 * When the picker opens...
 */
.picker--opened .picker__holder {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#1E000000,endColorstr=#1E000000)";
  zoom: 1;
  background: rgba(0, 0, 0, 0.32);
  transition: background 0.15s ease-out; }

.picker--opened .picker__frame {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1; }

@media (min-height: 33.875em) {
  .picker--opened .picker__frame {
    top: auto;
    bottom: 0; } }

/* ==========================================================================
   $BASE-DATE-PICKER
   ========================================================================== */
/**
 * The picker box.
 */
.picker__box {
  padding: 0 1em; }

/**
 * The header containing the month and year stuff.
 */
.picker__header {
  text-align: center;
  position: relative;
  margin-top: .75em; }

/**
 * The month and year labels.
 */
.picker__month, .picker__year {
  font-weight: 500;
  display: inline-block;
  margin-left: .25em;
  margin-right: .25em; }

.picker__year {
  color: #999999;
  font-size: .8em;
  font-style: italic; }

/**
 * The month and year selectors.
 */
.picker__select--month, .picker__select--year {
  border: 1px solid #b7b7b7;
  height: 2em;
  padding: .5em;
  margin-left: .25em;
  margin-right: .25em; }

@media (min-width: 24.5em) {
  .picker__select--month, .picker__select--year {
    margin-top: -0.5em; } }

.picker__select--month {
  width: 35%; }

.picker__select--year {
  width: 22.5%; }

.picker__select--month:focus, .picker__select--year:focus {
  border-color: #0089ec; }

/**
 * The month navigation buttons.
 */
.picker__nav--prev, .picker__nav--next {
  position: absolute;
  padding: .5em 1.25em;
  width: 1em;
  height: 1em;
  box-sizing: content-box;
  top: -0.25em; }

@media (min-width: 24.5em) {
  .picker__nav--prev, .picker__nav--next {
    top: -0.33em; } }

.picker__nav--prev {
  left: -1em;
  padding-right: 1.25em; }

@media (min-width: 24.5em) {
  .picker__nav--prev {
    padding-right: 1.5em; } }

.picker__nav--next {
  right: -1em;
  padding-left: 1.25em; }

@media (min-width: 24.5em) {
  .picker__nav--next {
    padding-left: 1.5em; } }

.picker__nav--prev:before, .picker__nav--next:before {
  content: " ";
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  border-right: 0.75em solid #000000;
  width: 0;
  height: 0;
  display: block;
  margin: 0 auto; }

.picker__nav--next:before {
  border-right: 0;
  border-left: 0.75em solid #000000; }

.picker__nav--prev:hover, .picker__nav--next:hover {
  cursor: pointer;
  color: #000000;
  background: #b1dcfb; }

.picker__nav--disabled, .picker__nav--disabled:hover, .picker__nav--disabled:before, .picker__nav--disabled:before:hover {
  cursor: default;
  background: none;
  border-right-color: #f5f5f5;
  border-left-color: #f5f5f5; }

/**
 * The calendar table of dates
 */
.picker__table {
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  font-size: inherit;
  width: 100%;
  margin-top: .75em;
  margin-bottom: .5em; }

@media (min-height: 33.875em) {
  .picker__table {
    margin-bottom: .75em; } }

.picker__table td {
  margin: 0;
  padding: 0; }

/**
 * The weekday labels
 */
.picker__weekday {
  width: 14.28571%;
  font-size: .75em;
  padding-bottom: .25em;
  color: #999999;
  font-weight: 500;
  /* Increase the spacing a tad */ }

@media (min-height: 33.875em) {
  .picker__weekday {
    padding-bottom: .5em; } }

/**
 * The days on the calendar
 */
.picker__day {
  padding: .3125em 0;
  font-weight: 200;
  border: 1px solid transparent; }

.picker__day--today {
  position: relative; }

.picker__day--today:before {
  content: " ";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 0;
  height: 0;
  border-top: 0.5em solid #0059bc;
  border-left: .5em solid transparent; }

.picker__day--disabled:before {
  border-top-color: #aaaaaa; }

.picker__day--outfocus {
  color: #dddddd; }

.picker__day--infocus:hover, .picker__day--outfocus:hover {
  cursor: pointer;
  color: #000000;
  background: #b1dcfb; }

.picker__day--highlighted {
  border-color: #0089ec; }

.picker__day--highlighted:hover, .picker--focused .picker__day--highlighted {
  cursor: pointer;
  color: #000000;
  background: #b1dcfb; }

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
  background: #0089ec;
  color: #ffffff; }

.picker__day--disabled, .picker__day--disabled:hover, .picker--focused .picker__day--disabled {
  background: #f5f5f5;
  border-color: #f5f5f5;
  color: #dddddd;
  cursor: default; }

.picker__day--highlighted.picker__day--disabled, .picker__day--highlighted.picker__day--disabled:hover {
  background: #bbbbbb; }

/**
 * The footer containing the "today", "clear", and "close" buttons.
 */
.picker__footer {
  text-align: center; }

.picker__button--today, .picker__button--clear, .picker__button--close {
  border: 1px solid #ffffff;
  background: #ffffff;
  font-size: .8em;
  padding: .66em 0;
  font-weight: bold;
  width: 33%;
  display: inline-block;
  vertical-align: bottom; }

.picker__button--today:hover, .picker__button--clear:hover, .picker__button--close:hover {
  cursor: pointer;
  color: #000000;
  background: #b1dcfb;
  border-bottom-color: #b1dcfb; }

.picker__button--today:focus, .picker__button--clear:focus, .picker__button--close:focus {
  background: #b1dcfb;
  border-color: #0089ec;
  outline: none; }

.picker__button--today:before, .picker__button--clear:before, .picker__button--close:before {
  position: relative;
  display: inline-block;
  height: 0; }

.picker__button--today:before, .picker__button--clear:before {
  content: " ";
  margin-right: .45em; }

.picker__button--today:before {
  top: -0.05em;
  width: 0;
  border-top: 0.66em solid #0059bc;
  border-left: .66em solid transparent; }

.picker__button--clear:before {
  top: -0.25em;
  width: .66em;
  border-top: 3px solid #ee2200; }

.picker__button--close:before {
  content: "\D7";
  top: -0.1em;
  vertical-align: top;
  font-size: 1.1em;
  margin-right: .35em;
  color: #777777; }

.picker__button--today[disabled], .picker__button--today[disabled]:hover {
  background: #f5f5f5;
  border-color: #f5f5f5;
  color: #dddddd;
  cursor: default; }

.picker__button--today[disabled]:before {
  border-top-color: #aaaaaa; }

/* ==========================================================================
   $DEFAULT-DATE-PICKER
   ========================================================================== */
/* ==========================================================================
   $BASE-TIME-PICKER
   ========================================================================== */
/**
 * The list of times.
 */
.picker__list {
  list-style: none;
  padding: 0.75em 0 4.2em;
  margin: 0; }

/**
 * The times on the clock.
 */
.picker__list-item {
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  margin-bottom: -1px;
  position: relative;
  background: #ffffff;
  padding: .75em 1.25em; }

@media (min-height: 46.75em) {
  .picker__list-item {
    padding: .5em 1em; } }

/* Hovered time */
.picker__list-item:hover {
  cursor: pointer;
  color: #000000;
  background: #b1dcfb;
  border-color: #0089ec;
  z-index: 10; }

/* Highlighted and hovered/focused time */
.picker__list-item--highlighted {
  border-color: #0089ec;
  z-index: 10; }

.picker__list-item--highlighted:hover, .picker--focused .picker__list-item--highlighted {
  cursor: pointer;
  color: #000000;
  background: #b1dcfb; }

/* Selected and hovered/focused time */
.picker__list-item--selected, .picker__list-item--selected:hover, .picker--focused .picker__list-item--selected {
  background: #0089ec;
  color: #ffffff;
  z-index: 10; }

/* Disabled time */
.picker__list-item--disabled, .picker__list-item--disabled:hover, .picker--focused .picker__list-item--disabled {
  background: #f5f5f5;
  border-color: #f5f5f5;
  color: #dddddd;
  cursor: default;
  border-color: #dddddd;
  z-index: auto; }

/**
 * The clear button
 */
.picker--time .picker__button--clear {
  display: block;
  width: 80%;
  margin: 1em auto 0;
  padding: 1em 1.25em;
  background: none;
  border: 0;
  font-weight: 500;
  font-size: .67em;
  text-align: center;
  text-transform: uppercase;
  color: #666; }

.picker--time .picker__button--clear:hover, .picker--time .picker__button--clear:focus {
  color: #000000;
  background: #b1dcfb;
  background: #ee2200;
  border-color: #ee2200;
  cursor: pointer;
  color: #ffffff;
  outline: none; }

.picker--time .picker__button--clear:before {
  top: -0.25em;
  color: #666;
  font-size: 1.25em;
  font-weight: bold; }

.picker--time .picker__button--clear:hover:before, .picker--time .picker__button--clear:focus:before {
  color: #ffffff;
  border-color: #ffffff; }

/* ==========================================================================
   $DEFAULT-TIME-PICKER
   ========================================================================== */
/**
 * The frame the bounds the time picker.
 */
.picker--time .picker__frame {
  min-width: 256px;
  max-width: 320px; }

/**
 * The picker box.
 */
.picker--time .picker__box {
  font-size: 1em;
  background: #f2f2f2;
  padding: 0; }

@media (min-height: 40.125em) {
  .picker--time .picker__box {
    margin-bottom: 5em; } }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*  RIDEO CSS  */
button {
  padding: .5em 1em;
  border: none;
  color: #fff;
  font-weight: bold; }
  button:active {
    background-color: #4c6366; }
  button:focus {
    outline: none; }

input {
  padding: .5em 1em;
  border: 1px solid #ddd;
  box-sizing: border-box;
  vertical-align: middle; }

h1, h2, h3, h4, h5, p, span, a, input, label {
  font-family: sans-serif;
  line-height: 1.2em; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 3.21em; }

h3 {
  font-size: 2.6em; }

h4 {
  font-size: 1.7em; }

h5 {
  margin-top: 1em;
  font-size: 1.43em; }

p {
  font-size: 1em; }

label {
  font-size: .75em;
  color: #aaa; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }
  a:visited {
    color: inherit; }

.page-logo {
  margin-bottom: .5em; }

page-nav {
  text-align: center; }

nav li {
  display: inline-block;
  min-width: 20%;
  margin: 0 auto;
  margin: 0 .5em; }

.root-content {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .root-content::after {
    clear: both;
    content: "";
    display: table; }

.page-section {
  margin: 1em; }

.hidden {
  display: none; }

.clear-button {
  background-color: transparent;
  border: 3px solid white; }

.body-default {
  background-color: #627F83; }

@-webkit-keyframes pullDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }

  50% {
    -webkit-transform: translateY(8%);
    transform: translateY(8%); }

  65% {
    -webkit-transform: translateY(-4%);
    transform: translateY(-4%);
    opacity: .7; }

  80% {
    -webkit-transform: translateY(4%);
    transform: translateY(4%); }

  95% {
    -webkit-transform: translateY(-2%);
    transform: translateY(-2%); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

@keyframes pullDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }

  50% {
    -webkit-transform: translateY(8%);
    transform: translateY(8%); }

  65% {
    -webkit-transform: translateY(-4%);
    transform: translateY(-4%);
    opacity: .7; }

  80% {
    -webkit-transform: translateY(4%);
    transform: translateY(4%); }

  95% {
    -webkit-transform: translateY(-2%);
    transform: translateY(-2%); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

/* Home Page */
.hero--content {
  height: 15em; }

.hero--title {
  margin-top: 10em; }

.hero {
  max-width: 768px;
  margin: 0 auto;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em; }
  .hero .hero-logo {
    max-width: 500px;
    margin-bottom: 1em; }
  .hero .hero-inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    padding: 3.5em;
    text-align: center; }
    .hero .hero-inner::after {
      clear: both;
      content: "";
      display: table; }
    .hero .hero-inner::after {
      clear: both;
      content: "";
      display: table; }
    .hero .hero-inner .hero-copy {
      text-align: center; }
      .hero .hero-inner .hero-copy h1 {
        font-size: 1.6em;
        margin-bottom: 0.5em; }
        @media screen and (min-width: 53.75em) {
          .hero .hero-inner .hero-copy h1 {
            font-size: 1.8em; } }
      .hero .hero-inner .hero-copy .p {
        font-weight: 200;
        line-height: 1.4em; }
        @media screen and (min-width: 53.75em) {
          .hero .hero-inner .hero-copy .p {
            font-size: 1.1em;
            max-width: 40%; } }

.hero-text {
  margin-top: 1em;
  color: #fff; }

.hero-button {
  font-size: 1.2em; }

.page-info {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  color: #fff; }
  .page-info:last-child {
    margin-right: 0; }
  @media only screen and (min-width: 768px) {
    .page-info {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .page-info:last-child {
        margin-right: 0; } }

.page-info-text {
  font-weight: 200;
  line-height: 1.4em;
  padding: 1em;
  max-width: 333px;
  margin: 0 auto;
  -webkit-animation: pullDown 1s ease-in forwards;
  animation: pullDown 1s ease-in forwards; }

.page-info-heading {
  margin-top: 2em;
  box-sizing: padding-box;
  position: relative;
  background-color: #fff;
  border-radius: 50%;
  height: 11em;
  width: 11em;
  display: inline-block;
  box-shadow: .15em .15em .5em #364649; }
  .page-info-heading p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-weight: bold;
    color: #627F83; }
  .page-info-heading:after {
    content: ' ';
    padding-top: 100%; }
  .page-info-heading:hover {
    background-color: rgba(255, 255, 255, 0.3); }
    .page-info-heading:hover p {
      color: #fff;
      opacity: 1; }
  @media only screen and (min-width: 768px) {
    .page-info-heading {
      margin-top: 0; } }

.home-page-content {
  text-align: center;
  max-width: 68.62761em;
  margin: 0 auto; }

/* Register Page */
.register-input {
  margin: .2em 0;
  border: none;
  border-bottom: 1px dashed #aaa;
  background-color: transparent;
  color: #fff; }

.schedule-week {
  display: block;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .schedule-week:last-child {
    margin-right: 0; }

select {
  padding: 1em; }

/* Navigation */
.sliding-menu-content {
  position: fixed;
  top: 0px;
  right: auto;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 220px;
  -webkit-transform: translateX(-220px);
  transform: translateX(-220px);
  transition: all 0.25s linear;
  background: #404040;
  z-index: 999999;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  .sliding-menu-content ul {
    padding: 0;
    margin: 0; }
  .sliding-menu-content li {
    list-style: none; }
  .sliding-menu-content a {
    text-decoration: none; }
  .sliding-menu-content .mobile-li {
    border-bottom: 1px solid #333;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 1em; }
    .sliding-menu-content .mobile-li:focus {
      background-color: #4d4d4d; }
    .sliding-menu-content .mobile-li:hover {
      background-color: #477DCA;
      color: #fff; }
  .sliding-menu-content.is-visible {
    -webkit-transform: translateX(0);
    transform: translateX(0); }

.sliding-menu-fade-screen {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  transition: all 0.15s ease-out 0s;
  background: black;
  opacity: 0;
  visibility: hidden;
  z-index: 999998; }
  .sliding-menu-fade-screen.is-visible {
    opacity: 0.4;
    visibility: visible; }

.menu-button {
  padding: 10px 16px;
  cursor: pointer;
  outline: none;
  background-color: #627F83;
  border: 3px solid #fff;
  border-radius: .5em;
  position: absolute;
  right: 1em; }
  .menu-button:after, .menu-button:before {
    content: ' ';
    width: 0;
    height: 0;
    border-right: 1em solid transparent;
    border-left: 1em solid transparent;
    border-top: 1em solid #fff;
    position: absolute;
    left: 1em; }
  .menu-button:after {
    bottom: -.5em;
    border-top: 1em solid #627F83; }
  .menu-button:before {
    bottom: -1em; }

.page-nav {
  margin: 1em 1em 2em;
  text-align: center; }

.page-nav-logo {
  height: 3em; }

/* Dashboard */
.dashboard-fbLogin {
  width: 100%;
  height: 4em; }

.dashboard-steps-container {
  overflow: auto; }

.dashboard-steps {
  margin-top: 2.35765%;
  position: relative;
  display: inline-block;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  padding-top: 31.76517%;
  background-color: #83A9AE; }
  .dashboard-steps:last-child {
    margin-right: 0; }
  .dashboard-steps:active {
    background-color: #64939a; }
  .dashboard-steps p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }

.dashboard-content {
  text-align: center; }
