<div class="page-section">
  <!-- <p>
    this your passenger <br>
    you leave at this time <br>
    you’ll be paid X amount | | you will pay X amount <br>
    You would have paid X <br>
    You saved X
  </p> -->
</div>
<!-- <h5>WORKPLACES</h5>
<ul>
  <li ng-repeat="job in vm.current.work">{{ job.name }}
    <button ng-click="vm.deleteWork(job, $index)">X</button>
  </li>
</ul>
<h5>DATES</h5>
<ul>
  <li ng-repeat="date in vm.current.schedule">
    <h5>date:</h5>
    <p>departing: {{ date.departure_datetime }}</p>
    <p>returning: {{ date.arrival_datetime }}</p>
    <button ng-click="vm.deleteDate(date, $index)">X</button>
  </li>
</ul>
<h5>VEHICLES</h5>
<ul>
  <li ng-repeat="car in vm.current.vehicles">{{ car.make }}, {{car.model}}
    <button ng-click="vm.deleteVehicle(car, $index)">X</button>
  </li>
</ul> -->
